<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.palria.learnera">
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<!--    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />-->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- <uses-permission android:name="android.permission.BATTERY_STATS" /> -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.BIND_JOB_SERVICE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/learn_era_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/learn_era_logo"
        android:supportsRtl="true"
        android:windowSoftInputMode="adjustPan"
        android:theme="@style/Theme.App.Starting">
    
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3296946983872591~6715737224" />
        
        <activity
            android:name=".CreateQuizActivity"
            android:exported="true"
            android:theme="@style/Theme.LearnEra" />
        <activity
            android:name=".DeclineUserAccountVerificationActivity"
            android:exported="true"
            android:theme="@style/Theme.LearnEra" />
        <activity
            android:name=".CreateNewNotificationActivity"
            android:exported="true"
            android:theme="@style/Theme.LearnEra" />
        <activity
            android:name=".PaginationActivity"
            android:exported="true"
            android:theme="@style/Theme.LearnEra" />
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:theme="@style/Theme.LearnEra" />
        <activity
            android:name=".NotificationActivity"
            android:exported="true"
            android:theme="@style/Theme.LearnEra" />
        <activity
            android:name=".TestActivity"
            android:exported="false"
            android:theme="@style/Theme.LearnEra" />
        <activity
            android:name=".PageActivity"
            android:exported="true"
            android:theme="@style/Theme.LearnEra" />
        <activity
            android:name=".HostActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.LearnEra">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".LibraryActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.LearnEra">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SearchActivity"
            android:exported="false"
            android:theme="@style/Theme.LearnEra">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UploadPageActivity"
            android:exported="true"
            android:theme="@style/Theme.LearnEra"
            android:windowSoftInputMode="adjustResize" />
        
        <service
            android:name=".UploadPageManagerService"
            android:enabled="true"
            android:exported="true" />
        
        <activity
            android:name=".UserActivityLogActivity"
            android:exported="false"
            android:theme="@style/Theme.LearnEra">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UserStatsActivity"
            android:exported="false"
            android:theme="@style/Theme.LearnEra">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.palria.learnera.MainActivity" />
        </activity>
        <activity
            android:name=".CreateNewReviewActivity"
            android:exported="true"
            android:theme="@style/Theme.LearnEra" />
        <activity
            android:name=".TutorialFolderActivity"
            android:exported="true"
            android:theme="@style/Theme.LearnEra" />
        <activity
            android:name=".TutorialActivity"
            android:exported="true"
            android:theme="@style/Theme.LearnEra" />
        <activity
            android:name=".SplashScrenActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".EditCurrentUserProfileActivity"
            android:exported="true"
            android:theme="@style/Theme.LearnEra">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.palria.learnera.MainActivity" />
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:exported="true"
            android:theme="@style/Theme.LearnEra" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="true"
            android:theme="@style/Theme.LearnEra" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true"
            android:theme="@style/Theme.LearnEra" />
        <activity
            android:name=".SignInActivity"
            android:exported="true"
            android:theme="@style/Theme.LearnEra" />
        <activity
            android:name=".CreateNewTutorialPageActivity"
            android:exported="true"
            android:theme="@style/Theme.LearnEra" />
        <activity
            android:name=".CreateNewTutorialFolderActivity"
            android:exported="true"
            android:theme="@style/Theme.LearnEra" />
        <activity
            android:name=".CreateNewTutorialActivity"
            android:exported="true"
            android:theme="@style/Theme.LearnEra" />
        <activity
            android:name=".CreateNewLibraryActivity"
            android:exported="true"
            android:theme="@style/Theme.LearnEra" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
    
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        
        <receiver
            android:name=".bootservice.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_CHANGED" />
    
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        
        <service android:name=".bootservice.BootService"
                android:permission="android.permission.BIND_JOB_SERVICE"
            />
            
        
    </application>

</manifest>